body{
    margin: 0;
    padding: 0;
    background-image: url(img/fundo.jpg);
    background-size: 100%;
    font-family: "comfortaa", cursive;
}
.login {
    width: 320px;
    height: 430px;
    border: 2px solid #2E2787;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: #2E2787;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
    opacity: 50%;
}
.usuario{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:112px;
}
h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 21px;

}
.login input[type="text"], input[type="password"] {
border: 10px;
border-bottom: 1px solid white;
background: transparent;
outline: none;
height:40px;
color: white;
font-size: 16px;
}
.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;

}
.login input[type="submit"]:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}
.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    transition: 0.2s;
}

.login a:hover {
    transition: 0.2s;
    color: #ff4d4d;
}
